@model AnalyseViewModel

@{
    ViewBag.Title = "Analyse";
}

<h2>Analyse</h2>
<h3>@Model.Filename</h3>

<div>
    <h3>Previous queries:</h3>
    @foreach (var previousQuery in Model.PreviousQueries)
    {
        <p>@Html.ActionLink(previousQuery, "Analyse", new {query = previousQuery})</p>
    }
</div>


@using (Html.BeginForm("Analyse", "Home", FormMethod.Post))
{
    <div>
        @Html.TextAreaFor(m => m.Query)
        <input type="submit" name="Execute" />
    </div>
}

@if (Model.Matches != null)
{
    <text>@Html.Partial("_Matches", Model.Matches)</text>
}