@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using(Html.BeginForm("LoadGpx", "Home", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    <input type="file" accept="application/gpx+xml" name="file" />
    <input type="submit" name="Upload"/>
}

@using(Html.BeginForm("GetRideFromStrava", "Home", FormMethod.Post))
{
    <input type="text" name="StravaActivityId" value="125142637"/>
    <input type="submit" name="Get"/>
}
