@model TrackMapViewModel

@{
    var mapCanvasId = String.Format("map-canvas-{0}", Guid.NewGuid());
    var firstPoint = Model.Points.First();
    var lastPoint = Model.Points.Last();

    var centre = Tuple.Create<double, double>((firstPoint.Item1 + lastPoint.Item1) / 2, (firstPoint.Item2 + lastPoint.Item2) / 2);
}

<div id="@mapCanvasId" style="height:200px; width:200px;">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        var center = new google.maps.LatLng(@(centre.Item1 + "," + centre.Item2));
        var myOptions =
        {
            zoom: 12,
            center: center,
            mapTypeControl: true,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
            navigationControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var map = new google.maps.Map(document.getElementById("@mapCanvasId"), myOptions);

        var polylineCoordinates =
        [
                @foreach(var point in Model.Points)
                {
                    <text>new google.maps.LatLng(@(point.Item1 + "," + point.Item2)),</text>
                }
        ];

        var polyline = new google.maps.Polyline
        ({
            path: polylineCoordinates,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2,
            editable: true
        });

        polyline.setMap(map);

    });
</script>
